<div class="row">
	<div class="nine columns">
	
		<h1>Help Sample App <small>It works to do well for Help. </small></h1>
		<p>
		  This is the help page for the
		  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		  sample sampler. 
		</p>

	</div>
</div>