<% provide(:title, 'Corndog') %>
<div class="row">

    <div class="eight columns">
      <img src="http://farm4.staticflickr.com/3342/3635855039_5e8115765d_o.jpg">
      <h4>This is a content section. <small>Great for Small/Medium businesses</small></h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
    <div class="three columns">
      <img src="http://www.voxpopulipac.org/images/Black_Office_Worker.JPG">
      <h4>Great work</h4>
      <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
    </div>
    
  </div>